@model PatientCard.DataBase.DoctorInfo

@{
    ViewBag.Title = "DoctorDetails";
}

<h2>DoctorDetails</h2>

<div>
    <h4>DoctorInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecializationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecializationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateDoctor", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "DoctorView")
</p>
